header{
    height: 60px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    background-color: antiquewhite;
    .items{
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            transition: 1s;
            box-shadow : 0 0 10px gray inset, 0 0 10px black;
        }
        a{
            display: block;
            color: black;
            text-decoration: none;
        }
    }
}